//Colors

$backgroundBody: rgb(255, 244, 241);
$backgroundAlert: rgb(255, 244, 241);
$backgroundCart: rgb(255, 253, 252);
$borderAddToCart: rgba(149, 119, 107, 0.372);
$brown: rgb(149, 119, 107);
$lightOrange: rgb(222, 84, 46);
$orange: rgb(220, 72, 35);
