@font-face {
  font-family: "RedHatText-Italic";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/RedHatText-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RedHatText-Variable";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/RedHatText-VariableFont_wght.ttf");
}

@font-face {
  font-family: "RedHatText-Bold";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/static/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "RedHatText-Regular";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/static/RedHatText-Regular.ttf");
}

@font-face {
  font-family: "RedHatText.SemiBold";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/static/RedHatText-SemiBold.ttf");
}

@font-face {
  font-family: "Kumbh-Sans";
  src: url("../../../product-list-with-cart-main/product-list-with-cart-main/assets/fonts/static/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf");
}

@font-face {
  font-family: "Monsterrat";
  src: url("./Montserrat/Montserrat-VariableFont_wght.ttf");
}
